body{
  background-color: #143D5F;
  color: white;
  font-family: sans-serif;
}
.jumbotron{
  text-align: center;
  color: black;
}
label{
  font-size: 25px;
}
.container .form-group .btn{
  margin-top: 2rem;
  padding: 20px;
  font-weight: 500;
  }
.
