body{
  background-color: #143D5F;
  color: white;
  font-family: sans-serif;
}
.container{
  top:5rem;
  margin: 0 auto;
  background: white;
  color: black;
  text-align: center;
}
.btn{
  margin-top: 20px;
  margin-left: 25px;
  margin-bottom: 10px;
  padding: 10px;
}
h1{
  color: black;
  text-align: center;
}
.text_result{
  padding-bottom: 10px;
  font-weight: 800;
}
